<!DOCTYPE html>
<html lang="en">
<!-- GoldPlatinumDiaMond500% -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/index.css">
    <style>
        ol {
            margin: 0 0 1.5em;
            padding: 0;
            counter-reset: item;
        }

        ol>li {
            margin: 0;
            padding: 0 0 0 2em;
            text-indent: -2em;
            list-style-type: none;
            counter-increment: item;
        }

        ol>li:before {
            display: inline-block;
            width: 1.5em;
            padding-right: 0.5em;
            font-weight: bolder;
            text-align: right;
            content: counter(item) ".";
        }
    </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.10/purify.min.js" integrity="sha512-Qr/d6af6cN41/GIKiSmrQd4Y19/fo0YvWhD1VND8O+BsfbFBaZI4K7VVPoUZrd8PzMQ3CE71CkMjhrKf1NbhdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body class="bg-blue-500">
    <style>
        .bg-white {
          background-color: rgb(34, 34, 34);
        }
        .bg-gray-50 {
          background-color: rgb(51, 51, 51);
        }
        .bg-gray-200 {
          background-color: rgb(66, 66, 66);
        }
        .bg-green-200 {
          background-color: rgb(70, 167, 135);
        }
        .bg-blue-500 {
          background-color: rgb(11, 13, 18);
        }
        .text-black {
          color: rgb(255, 255, 255);
        }
        .kindagray {
          background-color: rgb(25, 25, 26);
        }
        .tag {
            background-color: rgb(11, 11, 17);
        }
        .text-gray-700 {
          color: rgb(224, 224, 224);
        }
        .text-gray-900 {
          color: rgb(224, 224, 224);
        }
        input.text-gray-900 {
          color: black;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        code,
        pre,
        blockquote,
        p {
            color:white;
        }
      </style>
    <%- include('./navbar'), { loggedIn: true, login: false, } %>
        <div class="grid gap-x-5 grid-cols-6 mt-8 xl:lg:w-11/12 mx-auto relative">
            <div class="relative flex-col col-span-6 lg:col-span-2 h-full">
                <div class="flex-col px-2 rounded-3xl bg-white pt-2 pb-8">
                    <div class="ml-8 relative z-10">
                        <div class="text-4xl font-semibold text-gray-600 mt-4">
                            Welcome,
                        </div>
                    </div>
                    <div class="ml-8 relative z-10">
                        <div class="sm:block md:block lg:flex xl:flex pt-2 px-1">
                            <img src="<%= user.img %>" alt=""
                                class="rounded-full mr-3 w-10 h-10 hover:outline-none hover:scale-105 hover:-translate-y-2 transition ease-in-out duration-300 delay-75">
                            <div
                                class="break-words mt-1 xl:mt-0 text-4xl 2xl:text-5xl font-bold text-gray-700 underline-offset-1 underline decoration-transparent hover:decoration-gray-200 transition-all ease-in-out delay-75 duration-300">
                                <%= user.username %>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div class="inline-block py-2 items-baseline">
                                <div
                                    class="group flex text-3xl font-bebas text-gray-700 hover:translate-x-4 transition-transform delay-75 duration-700 ease-in-out">
                                    Level <%= user.level %>
                                    <% if(nextLevel <= 7) { %> 
                                        <div
                                            class="text-transparent group-hover:text-gray-500 ml-2 text-xl transition-all delay-75 duration-500 ease-in-out">
                                            <%= nextLevelPoints - user.points %> pts. to Level <%= nextLevel %></div>
                                    <% } %> 
                                </div>
                                <div
                                    class="font-bold text-2xl hover:translate-x-6 hover:scale-110 transition-transform delay-75 duration-500 ease-in-out <% if(user.level >= 4 )  { %> text-green-400 <% } else if(user.level >= 2) { %> text-yellow-400 <% } else if(user.level < 2) { %> text-rose-400 <% } %>  ">
                                    <%= user.points.toLocaleString('en-US') %>
                                        <% if(user.points> 1 ) { %> PTS. <% } else { %> PT. <% } %>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="flex ml-8 justify-start lg:hidden">
                        <div class="flex-col justify-start">
                            <form action="./email" method="POST"
                                class="flex group mt-2 items-center transition-all delay-75 duration-300 ease-in-out">
                                <input type="hidden" name="username" value="<%= user.username %> ">
                                <input type="submit"
                                    class="cursor-pointer text-sm font-bold text-gray-600 group-hover:scale-105 group-hover:border-b-2 group-hover:border-gray-300 group-hover:text-gray-700 transition-all delay-75 duration-300 ease-in-out"
                                    value="Change Email" />
                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-8 w-8 stroke-gray-500" fill="none"
                                    viewBox="0 0 24 24" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </form>
                            <form action="./password" method="POST"
                                class="flex group mt-1 items-center transition-all delay-75 duration-300 ease-in-out">
                                <input type="hidden" name="username" value="<%= user.username %> ">
                                <input type="submit"
                                    class="cursor-pointer text-sm text-md font-bold text-gray-600 group-hover:scale-105 group-hover:border-b-2 group-hover:border-gray-300 group-hover:text-gray-700 transition-all delay-75 duration-300 ease-in-out"
                                    value="Change Password" />
                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-8 w-8 stroke-gray-500" fill="none"
                                    viewBox="0 0 24 24" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                                </svg>
                            </form>
                            <form action="./deleteAccount" method="POST" class="flex group mt-2">
                                <input type="hidden" name="username" value="<%= user.username %> ">
                                <input value="Delete Account" type="submit"
                                    class="cursor-pointer text-base font-bold text-white px-2 py-1 bg-rose-500 rounded-md group-hover:bg-pink-600 transition-all delay-75 duration-300 ease-in-out hover:ring-2 hover:ring-red-400 hover:ring-offset-1" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="flex-col px-2 rounded-3xl bg-white pt-2 pb-8 mt-4">
                    <div class="ml-4 z-10 px-4 mt-4">
                        <div class="inline-block pt-2 pb-6">
                            <div class="text-4xl font-bold text-gray-700 border-b-2 pb-1 border-blue-100 ">
                                Privileges:
                            </div>
                            <div class="text-xl mt-2 font-semibold list-decimal text-gray-700">
                                <% if(user.abilities) { %> 
                                    <% user.abilities.map((ability) => { %> 
                                        <li><%= ability %></li>
                                    <% }) %> 
                                <% } %> 
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <br/>
                    <div class="ml-6 inline-block mx-auto break-words">
                        <div class="text-xl font-semibold text-gray-700 pb-1">
                            <span class=" font-bold">Email:</span> <%- user.email %> 
                        </div>
                        <div class="text-xl font-semibold text-gray-700 pb-1 ">
                            <span class=" font-bold">Questions:</span> <%- user.questions %> 
                        </div>
                        <div class="text-xl font-semibold text-gray-700 pb-1">
                            <span class=" font-bold">Answers:</span> <%- user.answers%> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-6 lg:col-span-3">
            <div class="relative flex-col">
                <div class="flex-col z-10">
                    <div class="ml-2 relative w-max">
                        <p class="font-bold text-5xl text-white">
                            Your Activity:
                        </p>
                    </div>
                    <div class="flex-col py-1 bg-white rounded-3xl shadow-2xl shadow-indigo-600 mt-6">
                        <p class="ml-6 mt-4 text-gray-700 font-semibold text-3xl">
                            Questions
                        </p>
                        <div class="flex-col mt-4 mb-8 overflow-y-auto max-h-80" id="questionFeed">
                            <% if(questionFeed.length <= 0) { %>
                                <div id="noQuestions" class="ml-6 mt-4 text-gray-500 font-semibold text-xl">
                                    You Have No Questions Right Now
                                </div>
                                <span class="ml-6 mt-1 text-gray-500 badge w-min">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                      </svg>
                                </span>
                            <% } %>
                        </div> 
                    </div> 
                    <div class="flex-col py-1 bg-white rounded-3xl shadow-2xl shadow-indigo-600 mt-6">
                        <p class="ml-6 mt-4 text-gray-700 font-semibold text-3xl">
                            Answers
                        </p>
                            <div class="flex-col mt-4 mb-8 overflow-y-auto max-h-80" id="answerFeed">
                                <% if(answerFeed.length <= 0) { %>
                                    <div id="noAnswers" class="ml-6 mt-4 text-gray-500 font-semibold text-xl">
                                        You Have No Answers Right Now
                                    </div>
                                    <span class="ml-6 mt-1 text-gray-500 badge w-min">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                          </svg>
                                    </span>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden lg:block col-span-1 relative h-screen">
                <div class="flex justify-end">
                    <div class="flex-col justify-end">
                        <img src="<%= user.img %>" alt=""
                            class="ml-auto rounded-full w-14 h-14 mr-6 mt-6 bg-white px-2 py-2 border-4 hover:scale-105 hover:-translate-y-2 transition ease-in-out duration-300 delay-75">
                        <form action="./email" method="POST"
                            class="flex group mt-2 items-center justify-end mr-2 hover:border-r-8 hover:border-blue-300 transition-all delay-75 duration-300 ease-in-out">
                            <input type="hidden" name="username" value="<%= user.username %> ">
                            <input type="submit"
                                class="cursor-pointer text-xs font-bold text-white group-hover:scale-105 group-hover:border-b-2 group-hover:border-gray-100  transition-all delay-75 duration-300 ease-in-out"
                                value="Change Email" />
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-8 w-8 mr-4 stroke-white"
                                fill="none" viewBox="0 0 24 24" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </form>
                        <form action="./password" method="POST"
                            class="flex group mt-2 items-center justify-end mr-2 hover:border-r-8 hover:border-blue-300 transition-all delay-75 duration-300 ease-in-out">
                            <input type="hidden" name="username" value="<%= user.username %> ">
                            <input type="submit"
                                class="cursor-pointer text-xs font-bold text-white group-hover:scale-105 group-hover:border-b-2 group-hover:border-gray-100  transition-all delay-75 duration-300 ease-in-out"
                                value="Change Password" />
                                &#8202;
                                &#8202;
                                
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                                  </svg>
                        </form>
                        <form  onsubmit="return confirm('Do you really want to delete your account?\nThis cannot be undone.');" action="./deleteAccount" method="POST" class="flex group mt-2 justify-end mr-6">
                            <input type="hidden" name="username" value="<%= user.username %> ">
                            <input value="Delete Account" type="submit"
                                class="cursor-pointer text-base font-bold text-white px-2 py-1 bg-rose-500 rounded-md group-hover:bg-pink-600 transition-all delay-75 duration-300 ease-in-out hover:ring-2 hover:ring-red-400 hover:ring-offset-1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // const search2 = document.querySelector('#search2');
            // search2.classList.remove('fixed');
        </script>
        <% if (questionFeed || answerFeed) { %>
            <script>
                let standard = 3
                let lastResultQ = 0
                let moreToComeQ = false

                appendQuestion = (question) => {
                    console.log(question)
                    let feed = document.getElementById("questionFeed")
                    feed.innerHTML += `<div onclick="location.href = '/question/${question.question_id}'" class="ml-6 cursor-pointer hover:-translate-y-1 kindagray hover:scale-105 delay-75 duration-300 ease-in-out my-5 bg-white rounded overflow-hidden shadow-lg w-4/5" style="word-break:break-word">
                                <div class="px-4 py-4">
                                <div class="hidden questionId">${question.question_id}</div>
                                <div class="font-bold text-lg text-black mb-2">${question.title.replace(/[\u00A0-\u9999<>\&]/g, function(i) {
   return '&#'+i.charCodeAt(0)+';'})}</div>
                                </div>
                                <div class="pl-3 pr-6 pt-4 pb-2 ">
                                <span class="badge tag font-semibold text-gray-700 mr-2 mb-2">By: ${question.creator} </span>
                                <span class="badge tag font-semibold text-gray-700 mr-2 mb-2">${question.timeElapsed} ago</span>
                                <span class="badge tag font-semibold text-gray-700 mr-2 mb-2">${question.upvotes - question.downvotes} pts.</span>
                                </div>
                            </div>`
                }

                async function getQuestions(size, lastResultQ) {
                    let questions = await fetch('/userQuestionResults/' + lastResultQ).then((res) => (res.json()))
                    console.log(questions.length + "Standard: " + size)
                    if (questions.length > size) {
                        console.log("There's more questions!")
                        moreToComeQ = true
                    } else {
                        console.log("Thats all folks!")
                        moreToComeQ = false
                    }
                    console.log(questions)
                    if (questions.length < size) {
                        if (questions.length == 1) {
                            return questions
                        } else {
                            return questions.splice(0, questions.length)
                        }
                    } else {
                        return questions.splice(0, size)
                    }
                }

                async function loadMore(size, _lastResultQ) {
                    // console.log("Current: " + _lastResult)
                    let feed = document.getElementById("questionFeed")
                    feed.lastChild.remove()
                    var loader = `    <div class="loader flex items-center justify-center flex-col px-[30px]">
                <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
                <div class="px-4 py-4 ">
                    <img class="animate-spin" width="100" height="100" src="https://media.24ways.org/2009/15/assets/img/spinner.png">
                
                </div>
                </div>
                </div>`;
                    feed.insertAdjacentHTML("beforeend", loader)
                    let data = await getQuestions(size, _lastResultQ)
                    if (data) {
                        lastResultQ = data[data.length - 1].question_id
                        // console.log("New: " + lastResult)
                        data.forEach(appendQuestion)
                        // searchFeed.lastChild.remove()
                        implementMore(moreToComeQ)
                        feed.querySelector(".loader").remove()
                        return
                    }
                    feed.querySelector(".loader").remove()
                }

                async function loadLess(size) {
                    // console.log("Current: " + _lastResult)
                    let feed = document.getElementById("questionFeed")
                    console.log(lastResultQ)
                    feed.lastChild.remove()
                    for (let i = 0; i < size; i++) {
                        console.log(i)
                        let count = feed.childElementCount
                        feed.children.item(count - 1).remove()
                    }
                    let childCount = feed.childElementCount
                    lastResultQ = feed.children.item(childCount - 2).querySelector(".questionId").innerText
                    implementMore()
                }

                if (!document.getElementById("noQuestions")) {
                    loadMore(standard, lastResultQ)
                }

                function implementMore(moreToLoad = true) {
                    console.log("Adding Loaders")
                    console.log("More to Come: " + moreToLoad)
                    let feed = document.getElementById("questionFeed")
                    if (moreToLoad) {
                        if (feed.childElementCount > standard) {
                            let loaderWithLess = `
                                    <div class = "ml-6 flex">
                                        <div class="flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadMore(${standard}, '${lastResultQ}')">
                                                    Load More
                                                </button>
                                            </span>
                                        </div>
                                    <div class="flex mt-4">
                                        <span class="rounded-lg flex justify-between ml-8 px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                            <button class=" text-gray-500 font-semibold text-base" onclick="loadLess(${standard})">
                                                Load Less
                                            </button>
                                        </span>
                                    </div>
                                    </div>`
                            document.getElementById("questionFeed").insertAdjacentHTML("beforeend", loaderWithLess)
                            return
                        } else {
                            let loader = `
                                        <div class = "ml-6 flex">
                                            <div class="flex mt-4">
                                                <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                    <button class=" text-gray-500 font-semibold text-base" onclick="loadMore(${standard}, '${lastResultQ}')">
                                                        Load More
                                                    </button>
                                                </span>
                                            </div>
                                        </div>`
                            document.getElementById("questionFeed").insertAdjacentHTML("beforeend", loader)
                            return
                        }
                    } else if (!moreToLoad) {
                        if (feed.childElementCount > standard) {
                            let loaderWithLess = `
                                        <div class="ml-6 flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadLess(${standard})">
                                                    Load Less
                                                </button>
                                            </span>
                                        </div>`
                            document.getElementById("questionFeed").insertAdjacentHTML("beforeend", loaderWithLess)
                            return
                        } else {
                            let msg = `<div class="flex-col">
                            <div id="noQuestions" class="mt-4 text-gray-500 text-center font-semibold text-xl">
                                That's all folks!
                                <br>...
                            </div>
                        </div>`
                            document.getElementById("questionFeed").insertAdjacentHTML("beforeend", msg)
                        }
                        return
                    }
                }
            </script>
            
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>

            <!-- For the sake of organizaiton I have seperate script tags that handle the answer templates and question templates--->
            <!-- Below: Answer, Above: Question -->
            <script>
                let standardA = 5
                let lastResultA = 0
                let moreToComeA = false

                appendAnswer = (answer) => {
                    let feed = document.getElementById("answerFeed")
                    let color = (answer.accepted) ? "text-green-500" : "text-red-500"
                    feed.innerHTML += `<div onclick="location.href='/question/${answer.question_id}'"  class="kindagray cursor-pointer hover:-translate-y-1 hover:scale-105 delay-75 duration-300 ease-in-out my-5 ml-6 bg-white rounded overflow-hidden shadow-lg w-4/5">
                                            <div class="px-4 py-4 ">
                                              <div class="text-base font-semibold mb-2"><span class="font-bold ${color}">${answer.accepted ? "Accepted" : ""}</span></div>
                                              <p class="font-bold text-gray-700 text-xl w-5/6">
                                               ${DOMPurify.sanitize(marked.parse(answer.text))} 
                                              </p>
                                            </div>
                                            <div class="pl-3 pr-6 pt-4 pb-2 ">
                                              <span class="badge font-semibold text-gray-700 tag mr-2 mb-2">By: ${answer.creator}  </span>
                                              <span class="badge font-semibold text-gray-700 tag mr-2 mb-2">${answer.timeElapsed}  ago</span>
                                              <span class="badge font-semibold text-gray-700 tag mr-2 mb-2">${answer.upvotes - answer.downvotes}  pts.</span>
                                            </div>
                                        </div>`
                }

                async function getQuestionsA(size, lastResultA) {
                    let questions = await fetch('/userAnswerResults/' + lastResultA).then((res) => (res.json()))
                    console.log(questions.length + "Standard: " + size)
                    if (questions.length > size) {
                        console.log("There's more!")
                        moreToComeA = true
                    } else {
                        console.log("Thats all folks!")
                        moreToComeA = false
                    }
                    console.log(questions)
                    if (questions.length < size) {
                        if (questions.length == 1) {
                            return questions
                        } else {
                            return questions.splice(0, questions.length)
                        }
                    } else {
                        return questions.splice(0, size)
                    }
                }

                async function loadMoreA(size, _lastResultA) {
                    // console.log("Current: " + _lastResult)
                    let feed = document.getElementById("answerFeed")
                    feed.lastChild.remove()
                    var loader = `    <div class="loader flex items-center justify-center flex-col px-[30px]">
                <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
                <div class="px-4 py-4 ">
                    <img class="animate-spin" width="100" height="100" src="https://media.24ways.org/2009/15/assets/img/spinner.png">
                
                </div>
                </div>
                </div>`;
                    feed.insertAdjacentHTML("beforeend", loader)
                    let data = await getQuestionsA(size, _lastResultA)
                    if (data) {
                        console.log(data)
                        lastResultA = data[data.length - 1].answer_id
                        // console.log("New: " + lastResult)
                        data.forEach(appendAnswer)
                        // searchFeed.lastChild.remove()
                        implementMoreA(moreToComeA)
                        feed.querySelector(".loader").remove()
                        return
                    }
                    feed.querySelector(".loader").remove()
                }

                async function loadLessA(size) {
                    // console.log("Current: " + _lastResult)
                    let feed = document.getElementById("answerFeed")
                    console.log(lastResultA)
                    feed.lastChild.remove()
                    for (let i = 0; i < size; i++) {
                        console.log(i)
                        let count = feed.childElementCount
                        feed.children.item(count - 1).remove()
                    }
                    let childCount = feed.childElementCount
                    lastResultA = feed.children.item(childCount - 1).querySelector(".answerId").innerText
                    implementMoreA()
                }

                if (!document.getElementById("noAnswers")) {
                    loadMoreA(standardA, lastResultA)
                }

                function implementMoreA(moreToLoad = true) {
                    console.log("Adding Loaders")
                    let feed = document.getElementById("answerFeed")
                    console.log(feed.childElementCount)
                    if (moreToLoad) {
                        if (feed.childElementCount > standardA) {
                            let loaderWithLess = `
                                    <div class = "flex ml-6 ">
                                        <div class="flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadMoreA(${standard}, '${lastResultA}')">
                                                    Load More
                                                </button>
                                            </span>
                                        </div>
                                    <div class="flex mt-4">
                                        <span class="rounded-lg flex justify-between ml-8 px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                            <button class=" text-gray-500 font-semibold text-base" onclick="loadLessA(${standard})">
                                                Load Less
                                            </button>
                                        </span>
                                    </div>
                                    </div>`
                            document.getElementById("answerFeed").insertAdjacentHTML("beforeend", loaderWithLess)
                            return
                        } else {
                            let loader = `
                                        <div class = "ml-6 flex">
                                            <div class="flex mt-4">
                                                <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                    <button class=" text-gray-500 font-semibold text-base" onclick="loadMoreA(${standard}, '${lastResultA}')">
                                                        Load More
                                                    </button>
                                                </span>
                                            </div>
                                        </div>`
                            document.getElementById("answerFeed").insertAdjacentHTML("beforeend", loader)
                            return
                        }
                    } else if (!moreToLoad) {
                        if (feed.childElementCount > standardA) {
                            let loaderWithLess = `
                                        <div class="ml-6 flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadLessA(${standard})">
                                                    Load Less
                                                </button>
                                            </span>
                                        </div>`
                            document.getElementById("answerFeed").insertAdjacentHTML("beforeend", loaderWithLess)
                            return
                        } else {
                            let msg = `<div class="flex-col">
                            <div id="noQuestions" class="mt-4 text-gray-500 text-center font-semibold text-xl">
                                That's all folks!
                                <br>...
                            </div>
                        </div>`
                            document.getElementById("answerFeed").insertAdjacentHTML("beforeend", msg)
                        }
                        return
                    }
                }
            </script>
            <% } else { %>
                <script>

                </script>
                <% } %>

</body>

</html>