<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>qOverflow</title>
  <link rel="stylesheet" href="/index.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body>  
   <%-  include('../views/navbar.ejs', {loggedIn: loggedIn, user: user}); %>
   <div class="px-9 py-3">
   <% var possible = ["recent", "best", "interesting", "hottest"] %>
   <% for (var i = 0; i < possible.length; i++) { %>
     <a href="/?sort=<%= possible[i] %>" class="inline-block px-3 <%= sort == possible[i] ? 'bg-green-200' : '' %> py-2 text-sm leading-5 font-medium text-gray-700 hover:text-gray-900 focus:outline-none focus:text-gray-900 focus:bg-gray-50 focus:border-gray-300 focus:border-blue-300">
       <%= possible[i] %>
     </a>
    <% } %>
</div>
   <div id="questions">

   </div>
<!-- <div class="flex items-center justify-center flex-col px-[30px]">
   <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
    <div class="px-4 py-4 ">
      <div class="font-bold text-xl mb-2">What's the meaning of life?</div>
      <p class="text-gray-700 text-base">
        I wonder what it is can some one answer pls thanks
      </p>
    </div>
    <div class="px-6 pt-4 pb-2 ">
      <span class="badge font-semibold text-gray-700 mr-2 mb-2">By: Your mom</span>
      <span class="badge font-semibold text-gray-700 mr-2 mb-2">2 hours ago</span>
    </div>
  </div>
</div> -->

<script>
   lastQuestionId = undefined;
  var pageSize = 6;
  var questionsShown = 0;
  var remaining = [];

  function isUndefined(variable) {
    return typeof variable === 'undefined';
  }
  var send = true;
  async function getQuestions() {
    if(!send) return;
    console.log(lastQuestionId);
    var loader = `    <div class="flex items-center justify-center flex-col px-[30px]">
      <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
       <div class="px-4 py-4 ">
         <img class="animate-spin" width="100" height="100" src="https://media.24ways.org/2009/15/assets/img/spinner.png">
    
       </div>
     </div>
    </div>`;
    send = false;
    
    document.getElementById("questions").insertAdjacentHTML('beforeend', loader);

    var data = await fetch('/buffet?sort=<%= sort %>'+((!isUndefined(lastQuestionId))?`&after=${lastQuestionId}`:"")).then(res => res.json());
    clearLastQuestion();
   if(data.questions.length > 0) send = true;
    
    return data;

  }

  function clearQuestions() {
    var questions = document.getElementById('questions');
    questions.innerHTML = '';
  }

  function clearLastQuestion() {
    var questions = document.getElementById('questions');
    questions.removeChild(questions.lastChild);
  }

  function msToTime(duration) {
    const portions = [];
      const msInDay = 1000 * 60 * 60 * 24;
    const days = Math.trunc(duration / msInDay);
    if (days > 0) {
      portions.push(days + 'd');
      duration = duration - (days * msInDay);
    }
   appendQuestion = (data, i) => {
    console.log(data);
    if(i >= pageSize) return;

    lastQuestionId = data.question_id;
    if(questionsShown >= 100) return;
    questionsShown++;
    // console.log(data.id)

    var question = `<div class="flex items-center justify-center flex-col px-[30px]">
   <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
    <div class="px-4 ">
      <div class="font-bold text-xl mb-2 ${data.hasAcceptedAnswer ? "text-green-800" : ""}">${data.title}</div>
    </div>
    <div class="px-6 pt-4 pb-2 ">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">By: ${data.creator}</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">${msToTime(Date.now() - data.createdAt)} ago</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">${data.answers} answers</span>
    </div>
  </div>
</div> 
`
    document.getElementById('questions').innerHTML += question;
  }
async function yo() {
  if(remaining.length <= 0 && questionsShown == 0) {
    var data = await getQuestions();
    if(data.success) remaining = data.questions<%-sort == "hottest" ? `.filter(q=>!q.hasAcceptedAnswer)` : ""%>
  }
  for(var i = 0; i < pageSize; i++) {
    if(remaining.length <= 0) break;
    var data = remaining.shift();
    appendQuestion(data, i);
  }
}

window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && questionsShown < 100) {
        yo();
    }
};
yo();
</script>
</body>
</html>