<html>
  <center>
 <nav <%- (locals.a) ? "style=\"left:50%; transform:translate(-50%,0)\"" : "" %> class="bg-white <%- (locals.a) ? "absolute":""%> lg:mt-2 xl:mt-2 sm:w-full md:w-full lg:w-11/12 xl:w-11/12  sm:rounded-b-lg md:rounded-b-lg lg:rounded-3xl xl:rounded-3xl max-h-screen grid mx-auto shadow-2xl shadow-indigo-600">
  <style>
   
   @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis&family=Edu+Sa+Beginner&family=Helvetica&family=Arvo&family=Bebas+Neue&family=Oswald&family=Roboto+Slab&family=Staatliches&display=swap');
  
   html{
    overflow-x: hidden;
   }
  </style>
  <div class="w-full py-2 lg:py-3 xl:py-4 mx-auto px-2 md:px-3 lg:px-4 flex">
    <div class="w-8 lg:w-full flex">
      <a href="/" id="logo" class="flex w-8 lg:w-fit items-baseline">
        <!-- Logo -->
        <img class="h-8 w-8 xl:h-9 xl:w-9 self-center block nav" src="../BDPALogo.png">
          <img class="lg:h-10 xl:h-11 lg:block self-center hidden nav" src="../qOverflowLogoSmall.png">
        </a>
      </div>
      <div class="flex pl-5 mr-4 w-full group" id="search">
          <form class="flex w-full sm:w-4/5 max-w-sm xl:w-full h-full 2xl:w-full" action="/search" method="POST">
            <input id="1" name="searchQuery" type="text" required maxlength="100"
              class="mr-2 transition delay-75  w-full duration-100 ease-in-out bg-white focus:bg-gray-50 focus:rounded-lg focus:border-none border-b-2 border-gray-100 border-spacing-1 focus:outline-none py-1 appearance-none px-3 placeholder-gray-500 text-gray-900 focus:z-10 text-sm lg:text-base font-semibold"
              placeholder="Search" value="<%= locals.searchQuery %>">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" type="submit"
                  class="transition delay-75 duration-200 ease-in-out mt-auto hover:scale-110 cursor-pointer w-auto xl:h-7 lg:h-5 stroke-gray-500 group-focus:ring-indigo-500 group-focus:border-indigo-500 group-focus:z-10 group-focus:ring-1"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </button>
          </form>
      </div>
      <div class="flex w-fill items-center align-right">
        <div class="relative w-fill">
          <div class="w-fill">
            <% if(loggedIn) { %>
              <!-- Profile picture -->
              <div class="w-fill">
                <div class="flex lg:hidden top-3 place-content-end">
                  <div class="outline-none pr-2" id="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </div>
                </div>
                <div
                  class="lg:flex md:text-right place-content-end hidden md:place-content-center h-full md:space-x-2 md:justify-start w-full grid lg:flex">
                  <!--Mail Icon-->
                  <div
                    class="block w-min justify-self-end md:flex group align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
                    
                    <a href="/logout"
                      class="font-semibold text-l md:text-xl xl:text-2xl  my-auto font-dummy text-blue-500 " style="color: #01B3E7;">Logout</a>
                  </div>
                  <!-- Home Icon -->
                  <a href="/" class="lg:place-content-center w-fill md:grid w-min justify-self-end lg:align-middle">
                    <div
                      class="flex align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="md:ml-auto mb-1 h-8 xl:h-9 text-blue-500" style="color: #01B3E7;"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path
                          d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                      </svg>
                      <h2
                        class="block font-semibold md:flex xs:text-xl wavy-hover text-xl md:text-xl xl:text-2xl group-hover:visible my-auto font-dummy text-blue-500 transition-all delay-75 duration-300 ease-in-out" style="color: #01B3E7;">
                        Home</h2>
                    </div>
                  </a>
                  <a href="/mail" class="lg:place-content-center w-min justify-self-end w-fill md:grid md:align-middle">
                    <!-- Mail Icon -->
                    <div
                      class="group font-semibold flex align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="md:ml-auto h-8 xl:h-9 text-blue-500" style="color: #01B3E7;"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                      </svg>
                      <h2
                        class="block md:flex xs:text-xl wavy-hover group-hover:visible text-l md:text-xl xl:text-2xl my-auto font-dummy text-blue-500 transition-all delay-75 duration-300 ease-in-out" style="color: #01B3E7;">
                        Mail</h2>
                    </div>
                  </a>
                  <a href="/dashboard" class="w-fill hide lg-block md:place-content-center lg:grid align-middle">
                    <!-- Dashboard Icon -->
                    <div class="w-max align-middle lg:px-2 transition ease-in-out
                        delay-75 duration-300 hover:-translate-y-2">
                        <!-- profile img-->
                        <% if(locals.user) { %>
                      <div class="flex w-full flex-col pr-3">
                          <div class="flex flex-row">
                            <img class="h-8 mr-1 xl:h-9 rounded-full" src="<%= locals.user?.img%> " alt="">
                            <h2
                              class="wavy-hover text-2xl xl:text-3xl font-semibold my-auto font-dummy text-blue-700 transition-all delay-75 duration-100 ease-in-out" style="color: #566FD6;">
                              <%= locals.user.username %>
                            </h2>
                          </div>
                          <!-- user level and points text-->
                          <div class="group shadow-purple-900 flex align-middle rounded-full">
                            <h4
                              class="group-hover:visible font-semibold text-lg xl-text-xl 2xl:text-2xl my-auto font-dummy text-blue-700 transition-all delay-75 duration-300 ease-in-out" style="color: #566FD6;"
                              id="user-level">Level: <%= locals.user.level %>
                            </h4>
                            &nbsp;
                            <h4
                              class="group-hover:visible font-semibold text-lg xl:text-xl my-auto 2xl:text-2xl font-dummy text-blue-700 transition-all delay-75 duration-300 ease-in-out" style="color: #566FD6;"
                              id="user-points">Points: <%= Number(locals.user.points).toLocaleString() %>
                            </h4>
                          </div>
                          
                  <div class="mt-2 flex mx-auto w-full justify-between">
                    <div class="goldNum rounded-full px-3 py-1 bg-yellow-400 text-sm font-bold text-orange-500">
                      Loading
                    </div>
                    <div class="silverNum rounded-full px-3 py-1 bg-gray-400 text-sm font-bold text-gray-600">
                      Loading
                    </div>
                    <div class="bronzeNum rounded-full px-3 py-1 bg-orange-700 text-sm font-bold text-orange-900">
                      Loading
                    </div>
                  </div>
                      </div>
                      <% } %>


                    </div>
                </div> <!-- Level + points-->


                </a>
              </div>

              <% } else { %>
                <% if (typeof login=="undefined" || !login) { %>
                  <!--Not logged in-->
                  <script>
                    // const search2 = document.querySelector('#search2');
                    // search2.classList.remove('fixed');
                    // const one = document.querySelector('#1');
                    // one.classList.remove('w-40');
                    // one.classList.add('w-full');
                  </script>
                  <div class="flex mr-3">
                    <button onclick="location.href = '/auth/login'"
                      class="md:p-2 md:px-3 p-1 px-2 mr-2 bg-blue-600 hover:bg-blue-500 hover:text-gray-900  text-white text-sm md:text-lg md:mr-4 font-semibold rounded-md transition-all ease-in-out delay-75 duration-300">
                      <% } else { %>
                        <div class="flex">
                          <button onclick="location.href = '/auth/login'"
                            class="md:p-2 md:px-3 p-1 px-2 mr-2 bg-green-400 hover:bg-green-300 hover:text-text  text-black text-sm md:text-lg md:mr-4 font-semibold rounded-md transition-all ease-in-out delay-75 duration-300">
                            <% } %>
                              Login
                          </button>
                          <% if (typeof signup=="undefined" || !signup) { %>
                            <!--Not Signed In-->
                            <button onclick="location.href = '/auth/signup'"
                              class="md:p-2 md:px-3 p-1 px-2 bg-blue-600  hover:bg-blue-500 hover:text-black  text-white text-sm md:text-lg lg:mr-4 font-semibold rounded-md  transition-all ease-in-out delay-75 duration-300">
                              <% } else { %>
                                <button onclick="location.href = '/auth/signup'"
                                  class="md:p-2 md:px-3 p-1 px-2 bg-green-400 hover:bg-green-300 hover:text-black  text-black text-sm md:text-lg lg:mr-4 font-semibold rounded-md  transition-all ease-in-out delay-75 duration-300">
                                  <% } %>
                                    Signup
                                </button>
                        </div>
                        <% } %>
                  </div>
          </div>
        </div>
      </div>

    </div>
    <div
      class="lg:hidden hidden mr-4 md:text-right place-self-center place-content-center h-full md:space-x-2 lg:justify-start w-full grid"
      id="menu">
      <!--Mail Icon-->
      <!-- Home Icon -->
      <a href="/dashboard" class="w-fill place-content-center grid align-middle">
        <!-- Dashboard Icon -->
        <div class="align-middle px-2 grid">
            <!-- profile img-->
            <% if(typeof user !="undefined" ) { %>
              <div class="flex border-b-2 border-gray-200 pb-2 px-2 ">
                <div class="flex-col">
                  <div class="flex flex-row">
                    <img class="h-8 mr-1 xl:h-9 rounded-full"
                      src="https://s.gravatar.com/avatar/a0e6e8c282a3953d22f0f0d1ee267910?s=200&amp;r=x " alt="">
                    <h2
                      class="text-2xl xl:text-3xl my-auto font-dummy text-blue-500 transition-all delay-75 duration-100 ease-in-out" style="color: #01B3E7;">
                      <%= user.username %>
                    </h2>
                  </div>
                  <!-- user level and points text-->
                  <div class="group flex align-middle place-self-center rounded-full">
                    <h4
                      class="group-hover:visible font-semibold text-lg xl-text-xl 2xl:text-2xl my-auto font-dummy transition-all delay-75 duration-300 ease-in-out" style="color: #01B3E7;"
                      id="user-level">Level: <%= user.level %>
                    </h4>
                    &nbsp;
                    <h4
                      class="group-hover:visible font-semibold text-lg xl:text-xl my-auto 2xl:text-2xl font-dummy text-blue-500 transition-all delay-75 duration-300 ease-in-out" style="color: #01B3E7;"
                      id="user-points">Points: <%= user.points %>
                    </h4>
                  </div>
                          
                  <div class="mt-2 flex mx-auto w-full justify-between">
                    <div class="goldNum rounded-full px-3 py-1 bg-yellow-400 text-sm font-bold text-orange-500">
                      Loading
                    </div>
                    <div class="silverNum rounded-full px-3 py-1 bg-gray-400 text-sm font-bold text-gray-600">
                      Loading
                    </div>
                    <div class="bronzeNum rounded-full px-3 py-1 bg-orange-700 text-sm font-bold text-orange-900">
                      Loading
                    </div>
                  </div>
                </div>
          </div>
          <% } %>
      </a>
      <a href="/" class="mt-2 place-content-center w-fill md:grid w-min justify-self-center lg:align-middle">
        <div
          class="group flex align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="md:ml-auto mb-1 h-8 xl:h-9 text-blue-500" viewBox="0 0 20 20" style="color: #01B3E7;"
            fill="currentColor">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
            </path>
          </svg>
          <h2
            class="block md:flex xs:text-xl wavy-hover text-xl md:text-2xl xl:text-3xl group-hover:visible my-auto font-dummy text-blue-500 transition-all delay-75 duration-300 ease-in-out" style="color: #01B3E7;">
            Home</h2>
        </div>
        <hr>
      </a>
      <a href="/mail" class="place-content-center w-min justify-self-center w-fill md:grid md:align-middle">
        <!-- Mail Icon -->
        <div
          class="group flex align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="md:ml-auto h-8 xl:h-9 text-blue-500" viewBox="0 0 20 20" style="color: #01B3E7;"
            fill="currentColor">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
          </svg>
          <h2
            class="block md:flex xs:text-xl wavy-hover group-hover:visible text-xl md:text-2xl xl:text-3xl my-auto font-dummy text-blue-500 transition-all delay-75 duration-300 ease-in-out" style="color: #01B3E7;">
            Mail</h2>
        </div>
        <hr>
      </a>
      <div
        class="w-full place-content-center grid justify-self-center md:flex group align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
        <a href="/logout" class="wavy-hover text-xl md:text-2xl xl:text-3xl  my-auto font-dummy text-blue-500 " style="color: #01B3E7;">Logout</a>
      </div>
    </div>
  </div>

  </div>
  <% if(typeof user !="undefined" && loggedIn ) { %>
    <script>
      async function badgeData() {
        let bronzeBadgeNum = 0;
        let silverBadgeNum = 0;
        let goldBadgeNum = 0;
        let badges = await fetch('/badgeInfo?username=<%= locals.user?.username %>').then(res => {
          return res.json()
        });
        console.log(badges)
        for(let i = 0; i < badges.length; i++) {
          if(badges[i][1] == "Gold") {
            goldBadgeNum++;
          } 
          if(badges[i][1] == "Silver") {
            silverBadgeNum++;
          } 
          if(badges[i][1] == "Bronze") {
            bronzeBadgeNum++;
          } 
        }
        document.querySelectorAll(".goldNum").forEach(elem => {
          elem.innerText = `${goldBadgeNum}`
        })
        document.querySelectorAll(".silverNum").forEach(elem => {
          elem.innerText = `${silverBadgeNum}`
        })
        document.querySelectorAll(".bronzeNum").forEach(elem => {
          elem.innerText = `${bronzeBadgeNum}`
        })
      }
      badgeData()
      setInterval(function () {
        fetch('/getBasicData?user=<%= locals.user?.username %>')
          .then(response => response.json())
          .then(data => {
            if (data) {
              document.querySelector('#user-level').innerHTML = "Level: " + data.level;
              document.querySelector('#user-points').innerHTML = "Points: " + Number(data.points).toLocaleString( );
            }
          });
      }, 1000);
      const burger = document.querySelector('#burger');
      const menu = document.querySelector('#menu');
      const search = document.querySelector('#search');
      const logo = document.querySelector('#logo');
      // const logout = document.querySelector('#logout');
      // const logout2 = document.querySelector('#logout2');

      burger.addEventListener('click', (e) => {
        if (menu.classList.contains('hidden')) {
          menu.classList.remove('hidden');
          logo.classList.add('h-full');
        } else {
          menu.classList.add('hidden');
          logo.classList.remove('h-full');
        }
      });
    </script>
    <% } %>
</nav>
</center>

</html>