<html>
<nav class="bg-white py-1 relative max-h-96 w-11/12 my-4 rounded-xl mx-auto">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis&family=Edu+Sa+Beginner&family=Helvetica&family=Arvo&family=Bebas+Neue&family=Oswald&family=Roboto+Slab&family=Staatliches&display=swap');
  </style>
  <div class=" w-full py-3 lg:py-3 xl:py-4 mx-auto px-1 md:px-3 lg:px-4 md:pr-4 max-h-96 align-middle">
    <div class="flex justify-between items-center max-h-96">
      <div class="flex">
        <a href="/dashboard" class="flex items-baseline justify-start">
            <img class="w-auto h-10 rounded-3xl" src="https://bdpa.org/wp-content/uploads/2020/12/f0e60ae421144f918f032f455a2ac57a.png">
          <img class="h-16 w-auto" src="../qOverflowLogoSmall.png" alt="">
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex group mr-6">
          <form class="flex" action="/search" method="POST">
            <input id="1" name="searchQuery" type="text" required class="h-10 appearance-none rounded-none rounded-l-lg relative block w-full px-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm focus:ring-1" placeholder="What is an apple?">
            <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer h-10 w-12 px-2 rounded-none rounded-r-lg bg-indigo-400 stroke-white  group-focus:outline-none group-focus:ring-indigo-500 group-focus:border-indigo-500 group-focus:z-10 sm:text-sm group-focus:ring-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </form>
        </div>
        <div class="flex md:pr-2">
          <div class="md:ml-3 relative w-full">
            <div class="w-full">
              <% if(loggedIn) { %>
                <!-- Profile picture -->
                <div class="w-full">
                  <div class="flex md:hidden place-content-end">
                    <div class="outline-none pr-2" id="burger">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                    </div>
                  </div>
                  <div
                    class="md:text-right place-content-end md:place-content-center h-full md:space-x-2 md:justify-start w-full grid md:flex"
                    id="menu">
                    <!--Mail Icon-->
                    <div
                      class="block w-fill md:flex group hover:shadow-2xl shadow-purple-900 align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
                      <a href="/logout" class="wavy-hover text-2xl xl:text-3xl my-auto font-staat text-gray-700 ">Logout</a>
                    </div>
                    <!-- Home Icon -->

                    <a href="/" class="md:place-content-center w-fill md:grid md:align-middle">
                      <div
                        class="group wavy-hover hover:shadow-2xl shadow-purple-900 flex align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="md:ml-auto mb-1 h-8 xl:h-9 text-gray-700"
                          viewBox="0 0 20 20" fill="currentColor">
                          <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                          </path>
                        </svg>
                        <h2
                          class="block md:flex wavy-hover xl:text-3xl group-hover:visible text-2xl my-auto font-staat text-gray-700 transition-all delay-75 duration-300 ease-in-out">
                          Home</h2>
                      </div>
                    </a>
                    <a href="/mail" class="md:place-content-center w-fill md:grid md:align-middle">
                      <!-- Mail Icon -->
                      <div
                        class="group hover:shadow-2xl shadow-purple-900 flex align-middle rounded-full md:px-2 py-1 transition ease-in-out delay-75 duration-300 hover:-translate-y-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="md:ml-auto h-8 xl:h-9 text-gray-700"
                          viewBox="0 0 20 20" fill="currentColor">
                          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                        </svg>
                        <h2
                          class="block md:flex wavy-hover xl:text-3xl group-hover:visible text-2xl my-auto font-staat text-gray-700 transition-all delay-75 duration-300 ease-in-out">
                          Mail</h2>
                      </div>
                    </a>
                    <a href="/dashboard" class="w-fill md:place-content-center md:grid align-middle">
                      <!-- Dashboard Icon -->
                      <div
                        class="group hover:shadow-2xl w-full shadow-purple-900 align-middle md:px-2 py-1 transition ease-in-out
                        delay-75 duration-300 hover:-translate-y-2">
                        <div class="flex w-full flex-col pr-3">
                          <!-- profile img-->
                          <% if(typeof user != undefined) { %>
                          <div class="flex flex-row">
                            <img class="h-8 xl:h-9 rounded-full" src="<%= user?.img%> " alt="">
                            <h2
                              class="wavy-hover text-2xl xl:text-3xl my-auto font-staat text-gray-700 transition-all delay-75 duration-100 ease-in-out">
                              <%= user?.username %>
                            </h2>
                          </div>
                          <!-- user level and points text-->
                          <div class="group shadow-purple-900 flex align-middle rounded-full">
                            <h4
                              class="group-hover:visible text-lg xl-text-xl 2xl:text-2xl my-auto font-staat text-gray-700 transition-all delay-75 duration-300 ease-in-out"
                              id="user-level">Level: <%= user?.level %>
                            </h4>
                            &nbsp;
                            <h4
                              class="group-hover:visible text-lg xl:text-xl my-auto 2xl:text-2xl font-staat text-gray-700 transition-all delay-75 duration-300 ease-in-out"
                              id="user-points">Points: <%= user?.points %>
                            </h4>
                          </div>
                        </div>
                        <% } %>


                      </div>
                  </div> <!-- Level + points-->


                  </a>
                </div>

                  <% } else { %>
                      <% if (typeof login == "undefined" || !login) { %> <!--Not logged in-->
                        <button onclick="location.href = '/auth/login'" class="border-b-2 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                          <% } else { %>
                            <button onclick="location.href = '/auth/login'" class="px-4 py-3 bg-indigo-50 hover:bg-blue-100 hover:text-gray-900  text-gray-700 text-lg font-semibold mr-4 rounded-md  transition-all ease-in-out delay-75 duration-300">
                      <% } %>
                        Login
                        </button>
                      &nbsp;
                      <% if (typeof signup == "undefined" || !signup) { %> <!--Not Signed In-->
                        <button onclick="location.href = '/auth/signup'" class="border-b-2 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                          <% } else { %>
                            <button onclick="location.href = '/auth/signup'" class="px-4 py-3 bg-indigo-50 hover:bg-blue-100 hover:text-gray-900  text-gray-700 text-lg font-semibold mr-4 rounded-md  transition-all ease-in-out delay-75 duration-300">
                        <% } %>
                        Signup
                        </button>
                    <% } %>
                    </div>
            </div>
        </div>
      </div>
      </div>

    </div>
    <% if(typeof user !="undefined" ) { %>
      <script>
        setInterval(function() {
          fetch('/getBasicData?user=<%= user?.username %>')
            .then(response => response.json())
            .then(data => {
              console.log(data);
              if(data) {
              document.querySelector('#user-level').innerHTML = "Level: " + data.level;
              document.querySelector('#user-points').innerHTML = "Points: " + data.points;
              }
            });
          }, 1000);
          const burger = document.querySelector('#burger');
          const menu = document.querySelector('#menu');

          burger.addEventListener('click', (e) => {
            if (menu.classList.contains('hidden')) {
              menu.classList.remove('hidden');
            } else {
              menu.classList.add('hidden');
            }
          });
      </script>
      <% } %>
</nav>


</html>