<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="grid grid-cols-12 bg-white">
        <div class="col-span-12">
            <%- include('./navbar'), { loggedIn: true, login: false, user: user } %> 
        </div>
        <div class="flex-col mt-6 col-start-5 col-span-4 items-center relative">
            <div class="flex-col">
                <p class="mx-auto text-5xl text-center font-bold border-b-4 pb-2 border-gray-200">
                    Search Results  
                </p>
                <p class="mx-auto text-lg text-center font-semibold text-gray-500">
                    Dates should be put:
                    <span class="underline decoration-2 decoration-gray-300 underline-offset-1">MM/DD/YY</span> or 
                    <span class="underline decoration-2 decoration-gray-300 underline-offset-1">Month Day Year</span>
                </p>
            </div>
            <p class="mt-2 text-2xl text-center font-bold text-gray-300">
                for  
            </p>
            <p class="mt-2 text-3xl text-center font-bold">
                "<%= searchQuery %>"  
            </p>
            <div class="flex mt-4 w-2/3 mx-auto">
                <p class="text-2xl font-bold mr-2">By: </p>
                <% var possible = ["Title", "Text", "Author", "Creation"] %>
                <% for (var i = 0; i < possible.length; i++) { %>
                    <a href="/search/?sort=<%= possible[i] %>&searchQuery=<%= searchQuery %>&loggedIn=<%= loggedIn %>" class="h-min inline-block px-3 <%= sort == possible[i] ? 'bg-green-200' : '' %> py-2 text-sm leading-5 font-medium text-gray-700 hover:text-gray-900 focus:outline-none focus:text-gray-900 focus:bg-gray-50 focus:border-gray-300 focus:border-blue-300">
                        <%= possible[i] %>
                    </a>
                <% } %>
            </div>
        </div>
        <div class="col-span-12 relative mt-10">
            <div class="flex-col w-1/2 mx-auto pb-8" id="searchFeed">
                <% if(searchFeed.length <= 0) { %>
                    <div class="flex-col">
                        <div id="noQuestions" class="text-gray-500 text-center font-semibold text-xl">
                            Sorry we're stumped!
                            <br>...
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>
    <script>
            let standard = 12
            let lastResult = 0
            let moreToCome = false
            appendQuestion = (question) => {
                let searchFeed = document.getElementById("searchFeed")
                searchFeed.innerHTML += `<div onclick="location.href = '/question/${question.question_id}'" class="mx-auto cursor-pointer hover:-translate-y-1 hover:scale-105 delay-75 duration-300 ease-in-out my-5 bg-white rounded overflow-hidden shadow-lg w-full">
                                <div class="px-4 py-4 ">
                                <div class="hidden questionId">${question.question_id}</div>
                                <div class="font-bold text-lg mb-2">${question.title}</div>
                                </div>
                                <div class="pl-3 pr-6 pt-4 pb-2 ">
                                <span class="badge font-semibold text-gray-700 mr-2 mb-2">By: ${question.creator} </span>
                                <span class="badge font-semibold text-gray-700 mr-2 mb-2">${question.timeElapsed} ago</span>
                                <span class="badge font-semibold text-gray-700 mr-2 mb-2">${question.upvotes - question.downvotes} pts.</span>
                                </div>
                            </div>`
            }
            async function getQuestions(size, lastResult) {
                let questions = await fetch('/searchResults/' + lastResult).then((res) => (res.json()))
                console.log(questions.length + "Standard: " + size)
                if(questions.length > size) {
                    console.log("There's more!")
                    moreToCome = true
                } else {
                    console.log("Thats all folks!")
                    moreToCome = false
                }
                console.log(questions)
                if(questions.length < size) {
                    if(questions.length == 1) {
                        return questions
                    } else {
                        return questions.splice(0, questions.length)
                    }
                } else {
                    return questions.splice(0, size)
                }
            }
            async function loadMore(size, _lastResult) {
                // console.log("Current: " + _lastResult)
                let searchFeed = document.getElementById("searchFeed")
                searchFeed.lastChild.remove()
                var loader = `    <div class="flex items-center justify-center flex-col px-[30px]">
                <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
                <div class="px-4 py-4 ">
                    <img class="animate-spin" width="100" height="100" src="https://media.24ways.org/2009/15/assets/img/spinner.png">
                
                </div>
                </div>
                </div>`;
                searchFeed.insertAdjacentHTML("beforeend", loader)
                let data = await getQuestions(size, _lastResult)
                if(data) {
                    if(searchFeed.childElementCount > 0 && !document.getElementById("noQuestions")) {
                        searchFeed.children.item(searchFeed.children.length-1).remove()
                    }
                    console.log(data)
                    lastResult = data[data.length - 1].question_id
                    // console.log("New: " + lastResult)
                    data.forEach(appendQuestion)
                    // searchFeed.lastChild.remove()
                    implementMore(moreToCome)
                    return
                }
            }
            async function loadLess(size) {
                // console.log("Current: " + _lastResult)
                let searchFeed = document.getElementById("searchFeed")
                console.log(lastResult)
                searchFeed.lastChild.remove()
                for(let i = 0; i < size; i++) {
                    console.log(i)
                    let count = searchFeed.childElementCount
                    searchFeed.children.item(count - 1).remove()
                }
                let childCount = searchFeed.childElementCount
                lastResult = searchFeed.children.item(childCount-2).querySelector(".questionId").innerText
                implementMore()
            }
            
            if(!document.getElementById("noQuestions")) {
                loadMore(standard, lastResult)
            }
            function implementMore(moreToLoad = true) {
                    console.log("Adding Loaders")
                    let searchFeed = document.getElementById("searchFeed")
                    console.log(searchFeed.childElementCount)
                    if(moreToLoad) {
                        if(searchFeed.childElementCount > standard) {
                            let loaderWithLess = `
                                    <div class = "flex">
                                        <div class="flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadMore(${standard}, '${lastResult}')">
                                                    Load More
                                                </button>
                                            </span>
                                        </div>
                                    <div class="flex mt-4">
                                        <span class="rounded-lg flex justify-between ml-8 px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                            <button class=" text-gray-500 font-semibold text-base" onclick="loadLess(${standard})">
                                                Load Less
                                            </button>
                                        </span>
                                    </div>
                                    </div>`
                            document.getElementById("searchFeed").insertAdjacentHTML("beforeend", loaderWithLess)
                            return
                        } else {
                            let loader = `
                                        <div class = "flex">
                                            <div class="flex mt-4">
                                                <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                    <button class=" text-gray-500 font-semibold text-base" onclick="loadMore(${standard}, '${lastResult}')">
                                                        Load More
                                                    </button>
                                                </span>
                                            </div>
                                        </div>`
                            document.getElementById("searchFeed").insertAdjacentHTML("beforeend", loader)
                            return
                        }
                    } else if(!moreToLoad) {
                            if(searchFeed.childElementCount > standard) {
                                let loaderWithLess = `
                                        <div class="flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadLess(${standard})">
                                                    Load Less
                                                </button>
                                            </span>
                                        </div>`
                                document.getElementById("searchFeed").insertAdjacentHTML("beforeend", loaderWithLess)
                                return
                            } else {
                            let msg = `<div class="flex-col">
                            <div id="noQuestions" class="mt-4 text-gray-500 text-center font-semibold text-xl">
                                That's all folks!
                                <br>...
                            </div>
                        </div>`
                            document.getElementById("searchFeed").insertAdjacentHTML("beforeend", msg)
                            }
                            return
                    }
            }
        </script>
</body>
</html>